@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(
    90deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(246, 248, 248, 1) 40%,
    rgba(246, 248, 248, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(245, 245, 245) 0%,
    rgba(246, 248, 248, 1) 40%,
    rgba(246, 248, 248, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(246, 248, 248, 1) 0%,
    rgba(246, 248, 248, 1) 40%,
    rgb(246, 248, 248) 100%
  );
}
